* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(135deg, #e8fff0, #e9ffe0);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(181, 149, 118) 0%, transparent 70%);
    z-index: -1;
}

.login-card {
    width: 380px;
    background: white;
    padding: 40px 35px;
    border-radius: 22px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.icon-box {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    background: #0c9f4a17;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 28px;
}

h1 {
    color: rgb(169,152,135);
    font-size: 26px;
    margin-bottom: 6px;
}

.subtitle {
    color: #5c7a65;
    margin-bottom: 30px;
    font-size: 14px;
}

label {
    display: block;
    text-align: left;
    margin: 12px 0 6px;
    color: #1c4f2a;
    font-weight: 600;
    font-size: 14px;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 12px 14px 12px 38px;
    border: 2px solid #c5e9d1;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
}

.input-box input:focus {
    border-color: #0c9f4a;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.signin-btn {
    margin-top: 20px;
    width: 100%;
    padding: 13px;
    border: none;
    background: #0c9f4a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.signin-btn:hover {
    background: #0a863e;
}

.signup-text {
    margin-top: 18px;
    font-size: 14px;
}

.signup-text a {
    color: #0c9f4a;
    font-weight: 600;
    text-decoration: none;
}

.footer-text {
    margin-top: 25px;
    font-size: 13px;
    color: #7da88a;
}
